@font-face {
  font-family: 'Tobias';
  src: url(Tobias-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Tobias';
  padding: 10px;
  background-color: #EDF0E5;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ff0000;
  background-color: transparent;
}

.information {
  font-size: 20px;
  padding: 15px;
}

.invite {
  padding: 0;
  font-size: 16.7vw;
  text-align: center;
  margin-top: auto;
  display: block;
}

@media only screen and (max-width: 650px) {
  .invite {
    font-size: 16vw;
  }
}

@media only screen and (max-width: 350px) {
  .invite {
    font-size: 15vw;
  }
}

.image {
  padding: 15px;
  text-align: end;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
}